body{
    background-image: linear-gradient(90deg,#ff9a9e,#fecfef)
}
.body{
    width:50vw;
    height:50vh;
    border:1px solid black;
    margin:auto;
    display:flex;
    box-sizing: content-box;
}
.control{
    flex:1;
    background-color:bisque;
}
.container{
    width:75%;
    height:100%;
    overflow: hidden;
}
h1{
    text-align:center;
}
.slides{
    display:flex;
    transition:1s all;
}
.slide{
    margin:25px 0 25px 0;
    width:400px;
    height:400px;
    object-fit:cover;
}